@import "tailwindcss";

@font-face {
  font-family: 'technomat';
  src: url("/fonts/technomat.woff");
}

@theme {
  --font-sans: "technomat", "sans-serif"; 
  --color-p60-blue: "#021B4C";
  --color-p60-orange: "#fc6902";
}